.homePage{
  width: 1280px;
  margin: 0 auto;
  
  /* border: 2px solid; */
}

.searchFilter{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  /* width: 1280px; */
  margin: 80px auto;
  /* border: 3px solid yellow; */
  }
  .search {
  width: 480px;
  height: 56px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  border: none;
  align-items: center;
  display: flex;
  gap: 10px;
  padding-left: 30px;
  
    
  }
  .search input{
    background-color:transparent;
    outline: none;
    border: none;
    font-size: 15px;
  }
  .filter{
    width: 200px;
  height: 56px;
  
  background-color:transparent;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  border: none;
  
  }
  .search{
    display: flex;
    align-items: center;
    
    
  }
  
  .country_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 73px;
  }
  .darkMode  {
    background-color: var(--dark-mode-bg);
    color: white;
    
  }
  .darkMode .search{
    background-color: #2B3844;
  }
  .darkMode .filter{
    background-color: #2B3844;
  }


  @media (width<= 400px) {
    .searchFilter{
      flex-direction: column;
      gap: 40px;  
      margin-top: 28px; 
      
      
    }
  
    .search{
      width: 320px;
    }
    .homePage{
      width: 375px;
      padding: 15px;
      
    }
    .country_list{
      gap: 40px;
      
    }
  }
  