.header_container {
    /* border: 3px solid green; */
    display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0.2);
    
    
}

.logo{
  font-size: 24px;
  font-weight: 800;
  color: #111517;
}
.switch_mode p {
  font-size: 16px;
  font-weight: 600;
  
}
.header .inner{
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}
.switch_mode{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  user-select: none;
  
}

.darkMode{
  background-color: #2B3844;
  color: white;
}



@media (width<= 400px){
.header_container{
  width: 375px;
  padding-left: 15px;
  padding-right: 15px;
}
.header{
  width: 375px;
  /* border: 3px solid yellow; */
}
.logo{
  font-size: 14px;
  font-weight: 800;

}
.icon{
  font-size: 5px;
}
.switch_mode{
  gap: 5px;
}
}
